<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="customerMapper">

	<select id="countNoticeList" resultType="int">
		SELECT COUNT(*) FROM notice_list 
		WHERE 1=1
		<if test='search_key!=null and !search_key.equals("")'>
		  <choose>
		    <when test='search_option == "1"'>
		      AND title LIKE CONCAT('%',#{search_key},'%') 
		    </when>
		    <when test='search_option == "2"'>
		      AND content LIKE CONCAT('%',#{search_key},'%') 
		    </when>
		  </choose>
		</if>
	</select>

	<select id="selectNoticeList" resultType="com.simple_board.customer.vo.NoticeVO">
		SELECT 
			seq,
			title, 
			content, 
			writer,
			view_count,
			DATE_FORMAT(crt_dt,'%Y-%m-%d') AS "crt_dt"
              FROM notice_list 
		WHERE 1=1
		<if test='search_key!=null and !search_key.equals("")'>
		  <choose>
		    <when test='search_option == "1"'>
		      AND title LIKE CONCAT('%',#{search_key},'%') 
		    </when>
		    <when test='search_option == "2"'>
		      AND content LIKE CONCAT('%',#{search_key},'%') 
		    </when>
		  </choose>
		</if>
        ORDER BY seq DESC
		limit #{start}, #{cntPerPage}
	</select>

	<select id="selectNotice" resultType="com.simple_board.customer.vo.NoticeVO">
	<![CDATA[ 
		SELECT 
			seq,
			title, 
			content, 
			writer,
			view_count,
			DATE_FORMAT(crt_dt,'%Y-%m-%d') AS "crt_dt"
        FROM notice_list 
		WHERE seq = #{seq}
	]]>
	</select>
	
	<!-- 첨부파일 조회 -->
	<select id="selectFileList" parameterType="int" resultType="hashMap">
		SELECT seq,
			   org_file,
			   ROUND(FILE_SIZE/1024,1) AS file_size
		  FROM file_list
		 WHERE notice_seq = #{notice_seq}
		   AND del_yn = 'N'
	</select>
	
    <!-- 게시판 조회수 -->
    <update id="updateViewCount" parameterType="int">
	    <![CDATA[ 
	    	UPDATE notice_list SET
	    	view_count = view_count + 1
	    	WHERE seq = #{seq}
	    ]]>
    </update>

	<select id="countFaqList" resultType="int">
		SELECT COUNT(*) FROM faq_list 
		WHERE 1=1
		<if test='search_key!=null and !search_key.equals("")'>
			<choose>
			  <when test='search_option == "1"'>
			    AND title LIKE CONCAT('%',#{search_key},'%') 
			  </when>
			  <when test='search_option == "2"'>
			    AND content LIKE CONCAT('%',#{search_key},'%') 
			  </when>
			</choose>
		</if>
		<if test='pageType!=null and !pageType.equals("")'>
			AND category = #{pageType} 
		</if>		
	</select>

	<select id="selectFaqList" resultType="com.simple_board.customer.vo.FaqVO">
		SELECT 
			title, 
			content,
			sort_num
        FROM faq_list 
		WHERE 1=1
		<if test='search_key!=null and !search_key.equals("")'>
			<choose>
			  <when test='search_option == "1"'>
			    AND title LIKE CONCAT('%',#{search_key},'%') 
			  </when>
			  <when test='search_option == "2"'>
			    AND content LIKE CONCAT('%',#{search_key},'%') 
			  </when>
			</choose>
		</if>
		<if test='pageType!=null and !pageType.equals("")'>
			AND category = #{pageType} 
		</if>
        ORDER BY sort_num DESC 
		<choose>
		  <when test='pageType==null'>
		    limit 10
		  </when>
		  <otherwise>
		    limit #{start}, #{cntPerPage}
		  </otherwise>
		</choose>
		
	</select>

</mapper> 